/**
 * Text Alignment Styles
 */

[class*="fleximple-block-"] {
	$targets: sm, md, lg;
	$text-alignments: left, center, right;

	@each $alignment in $text-alignments {
		&.text-align-#{$alignment} {
			text-align: $alignment;
		}
	}

	@each $bp in $targets {
		@if $bp == "sm" {
			@each $alignment in $text-alignments {
				&.text-align-#{$alignment}--#{$bp},
				&.text-align-#{$alignment}--#{$bp} [class*="__inner"],
				&.text-align-#{$alignment}--#{$bp}
					.block-editor-block-list__layout {
					text-align: $alignment;
				}
			}
		}
		@if $bp == "md" {
			@media only screen and (min-width: 600px) {
				@each $alignment in $text-alignments {
					&.text-align-#{$alignment}--#{$bp},
					&.text-align-#{$alignment}--#{$bp} [class*="__inner"],
					&.text-align-#{$alignment}--#{$bp}
						.block-editor-block-list__layout {
						text-align: $alignment;
					}
				}
			}
		}
		@if $bp == "lg" {
			@media only screen and (min-width: 910px) {
				@each $alignment in $text-alignments {
					&.text-align-#{$alignment}--#{$bp},
					&.text-align-#{$alignment}--#{$bp} [class*="__inner"],
					&.text-align-#{$alignment}--#{$bp}
						.block-editor-block-list__layout {
						text-align: $alignment;
					}
				}
			}
		}
	}
}
